@import "tailwindcss";
@import "tw-animate-css";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@theme {
  --color-beige-100: #f8f4f0;
  --color-beige-500: #98908b;
  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;
  --color-green: #277c78;
  --color-yellow: #f2cdac;
  --color-cyan: #82c9d7;
  --color-navy: #626070;
  --color-red: #c94736;
  --color-purple: #826cb0;
  --color-purple-2: #af81ba;
  --color-turquoise: #597c7c;
  --color-brown: #93674f;
  --color-magenta: #934f6f;
  --color-blue: #3f82b2;
  --color-navy-grey: #97a0ac;
  --color-army-green: #7f9161;
  --color-gold: #cab361;
  --color-orange: #be6c49;
  --color-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer base {
  body {
    @apply bg-grey-100 m-0 p-0;
  }
  .text-preset-1 {
    @apply text-grey-900 text-[32px] leading-[120%] font-bold tracking-[0px];
  }

  .text-preset-2 {
    @apply text-[20px] leading-[120%] font-bold tracking-[0px];
  }

  .text-preset-1-2 {
    @apply md:text-grey-900 text-[20px] leading-[120%] font-bold tracking-[0px] md:text-[32px];
  }
  .text-preset-3 {
    @apply text-base leading-[150%] font-bold tracking-[0px];
  }

  .text-preset-4 {
    @apply text-grey-900 text-sm leading-[150%] tracking-[0px];
  }

  .text-preset-4-bold,
  label {
    @apply text-grey-500 text-sm leading-[150%] font-bold tracking-[0px];
  }

  .text-preset-5,
  input {
    @apply text-grey-900 text-xs leading-[150%] tracking-[0px];
  }

  .text-preset-5-bold {
    @apply text-grey-900 text-xs leading-[150%] font-bold tracking-[0px];
  }

  .text-preset-6 {
    @apply text-grey-900 text-xs leading-[150%] font-bold tracking-[0px];
  }
}

@layer components {
  /* buttons */
  .btn {
    @apply border-beige-500 flex cursor-pointer items-center gap-4 rounded-lg border px-4 py-3;
  }

  .btn-pagination {
    @apply hover:bg-grey-900 transition-colors hover:text-white;
  }

  .btn-page-active {
    @apply bg-grey-900 border-none text-white;
  }

  .btn-primary {
    @apply bg-grey-900 hover:bg-grey-500 flex cursor-pointer items-center gap-4 rounded-lg p-4 text-sm leading-[150%] font-bold tracking-[0px] text-white transition-all;
  }

  .btn-secondary {
    @apply bg-beige-100 hover:border-beige-500 text-grey-900 flex cursor-pointer items-center gap-4 rounded-lg p-4 text-sm leading-[150%] font-bold tracking-[0px] transition-all hover:bg-white;
  }

  .btn-tertiary {
    @apply text-grey-500 hover:text-grey-900 flex cursor-pointer items-center gap-3 text-sm leading-[150%] tracking-[0px] transition-all;
  }

  .btn-destroy {
    @apply bg-red flex items-center gap-4 rounded-lg p-4 text-sm leading-[150%] font-bold tracking-[0px] text-white transition-all hover:opacity-85;
  }

  /* forms */

  .field {
    @apply flex flex-col gap-1;
  }

  label {
    @apply text-grey-500;
  }

  .field-container {
    @apply border-beige-500 flex items-center justify-between gap-4 rounded-[8px] border px-5 py-3;
  }

  .basic-input {
    @apply text-grey-900 placeholder:text-beige-500 flex-grow text-sm leading-[150%] tracking-[0px] focus:outline-none;
  }

  .error-msg {
    @apply text-grey-500 text-right;
  }

  /* ----- Buttons ----- */
  .btn-auth {
    @apply bg-grey-900 flex items-center justify-center gap-4 rounded-[8px] p-4 text-white;
  }

  /* dashboard navbar */
  .dashboard-nav {
    @apply bg-grey-900 gap-6 rounded-t-[8px] border border-black lg:flex lg:h-full lg:w-full lg:flex-col lg:rounded-t-none lg:rounded-r-[10px] lg:pb-6;
  }
  .nav-links {
    @apply flex flex-row items-center justify-between border px-4 pt-2 md:px-10 lg:flex-grow lg:flex-col lg:items-start lg:justify-start lg:gap-1 lg:px-0 lg:pr-6;
  }

  /* Transaction page */
  /* select bar */
  .select-bar {
    @apply hidden items-center gap-2 border md:flex;
  }

  .select-bar div {
    @apply border-beige-500 flex items-center gap-4 rounded-lg border px-5 py-3;
  }

  .dropdown {
    @apply absolute w-full space-y-3 rounded-lg border bg-white px-5 py-3 shadow-md;
  }
}
@layer utilities {
}

/* start building the authentication part */
